
@model IEnumerable<CumulativeProject1.Models.Students>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>This page should be showing information about all Students</p>

<div id="containerlist">
    <h2>List of Teacher</h2>
    @foreach (var student in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Students/Show/@student.studentId">@student.studentFname @student.studentLname @student.studentnumber @student.enroldate</a></div>
        </div>
    }
</div>